<p id="notice"><%= notice %></p>

<%= form_for(@release) do |f| %>
  <% if @release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@release.errors.count, "error") %> prohibited this release from being saved:</h2>

      <ul>
      <% @release.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="detail-head">
    <h1>Release Detail: ID <%= @release.id %></h1>
  </div>
  
  <div class="projects">
    <div class="project">
      <h1>Mantis Project</h1>
      <p><%= @release.mantis_project_name %></p>
      <p>version: 
        <% if @version_released %>
          <%= "#{@release.mantis_project_version_name} (released #{@version_release_date})" %> <%= link_to "Rollback", rollback_release_path(@release), :confirm => "Are you sure? The basecamp message will be deleted."  %>
        <% else %>
          <%= select("release", "mantis_project_version_id", @version_list, {:include_blank => true}) %><span class="submit-version"><%= f.submit "Set", :name => "set_version" %></span>
        <% end %>
      </p>
    </div>
  
    <div class="project">
      -->
    </div>
  
    <div class="project">
      <h1>Basecamp Project</h1>
      <p><%= @release.basecamp_project_name %></p>
    </div>
    <% if !@version_released %>
      <div class="edit">
        <%= link_to 'Edit Projects', edit_release_path(@release) %>
      </div>
    <% else %>
      <div class="edit">
        <%= link_to 'Archive', archive_release_path(@release) %>
      </div>
    <% end %>
  
    <div class="project-footer"></div>
  </div>
  
  <div class="main">
    <div class="message">
      <% if !@release.mantis_project_version_id %>
        <p>Select mantis project version</p>
      <% else %>
          <h1>Message:</h1>
          <%= render :partial => "release", :object => @release, :locals => { :format_xml => false } %>
      <% end %>
    </div>
  
    <% if @release.mantis_project_version_id && !@version_released %>
      <div class="notify">
        <h1>Notify:</h1>
        <div class="category">
          <p>Basecamp Message Category:</p>
          <%= select("release", "basecamp_message_category_id", @categories, {:include_blank => true}) %>
        </div>
    
        <div class="notify-group">
          <h2></h2>
          <%= render :partial => 'person', :collection => @people %>
          <% if !@people %><p>None</p><% end %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Post Release", :name => "post_release", :confirm => "Are you sure? This will create a message on basecamp, notify all selected people, and mark the mantis version as released!" %> or <%= link_to 'Back', releases_path %>
      </div>
    <% else %>
      <div class="actions">
        <%= link_to 'Back', releases_path %>
      </div>
    <% end %>
  </div>
<% end %>
